@page
@model GroceriesDelivery.Pages_Customer.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Register</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.CustID" class="control-label"></label>
                <input asp-for="Customer.CustID" class="form-control" />
                <span asp-validation-for="Customer.CustID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustPassword" class="control-label"></label>
                <input asp-for="Customer.CustPassword" class="form-control" />
                <span asp-validation-for="Customer.CustPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustName" class="control-label"></label>
                <input asp-for="Customer.CustName" class="form-control" />
                <span asp-validation-for="Customer.CustName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustAddress" class="control-label"></label>
                <input asp-for="Customer.CustAddress" class="form-control" />
                <span asp-validation-for="Customer.CustAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustEmail" class="control-label"></label>
                <input asp-for="Customer.CustEmail" class="form-control" />
                <span asp-validation-for="Customer.CustEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustPhone" class="control-label"></label>
                <input asp-for="Customer.CustPhone" class="form-control" />
                <span asp-validation-for="Customer.CustPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
